
<div class="container">
    <table class="table mx-auto">
        <tr>
          <th>Name</th>
          <th>Amount</th>
          <th>cancel</th>
        </tr>
        <tbody>
        <tr *ngFor="let menuItem of item;">
          <td>{{menuItem.name}}</td>
          <td>{{menuItem.amount}}</td>
          <td><button class="btn btn-primary" type="submit" (click)="deleteFood(menuItem.id)">Cancel</button></td>
        </tr>
        </tbody>
      </table>
      </div>

<div class="container">
<div class="card">
<form  method="post" class="text-center" #orderForm="ngForm"  (ngClick)= "onClick(buttonType)">
    <p>Your Order</p>
    <div class=" inputContainer">
        <label for="PaymentMode">PaymentMode:</label><br>
        <select id="PaymentMode" name="PaymentMode" ngModel [(ngModel)]="paymentid" >
          <option *ngFor="let paymentmode of paymentmodes" [value]="paymentmode.id" >{{ paymentmode.name }}</option>
        </select>
    </div>

   <!-- <div class="inputContainer">
        <label for="" class="label">Quantity</label><br>
        <input type="text" class="input"  name="Quantity" [(ngModel)]="quantity" required>    
    </div>--->
     
    <br>
    <button type="submit" data-title = "confirm order" (click) ="onSubmit(orderForm)" id="submit" class="btn btn-primary m-2" >Confirm order</button>

    <span class="d-inline-block" tabindex="0" data-bs-toggle="tooltip" title="you can cancel order only 30 seconds after confirmation">
    <button type="submit"  [disabled]="disableButton" (click) ="onClick('delete')" id="delete" class="btn btn-primary m-2">Cancel order</button>
    </span>
    <label class="logoutLblPos">
    <button type="button" class="btn btn-outline-dark"  (click)="onClick('Logout')" >Logout</button>
    </label>
</form>
</div>
</div>

